In [1]:
import pandas as pd
import numpy as np

# Create the Dataframe

In [2]:
df = pd.read_csv("../Resources/heart.csv")
df["age"] = (df["age"]/365).apply(np.floor).astype(int)
df.head(10)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,50,2,168,62.0,110,80,1,1,0,0,1,0
1,1,55,1,156,85.0,140,90,3,1,0,0,1,1
2,2,51,1,165,64.0,130,70,3,1,0,0,0,1
3,3,48,2,169,82.0,150,100,1,1,0,0,1,1
4,4,47,1,156,56.0,100,60,1,1,0,0,0,0
5,8,60,1,151,67.0,120,80,2,2,0,0,0,0
6,9,60,1,157,93.0,130,80,3,1,0,0,1,0
7,12,61,2,178,95.0,130,90,3,3,0,0,1,1
8,13,48,1,158,71.0,110,70,1,1,0,0,1,0
9,14,54,1,164,68.0,110,60,1,1,0,0,0,0

In [3]:
cardiodf = df[["age", "gender", "height", "weight", "ap_hi", "ap_lo",
              "cholesterol", "gluc", "smoke", "alco", "active", "cardio"]]
cardiodf.head(10)

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,50,2,168,62.0,110,80,1,1,0,0,1,0
1,55,1,156,85.0,140,90,3,1,0,0,1,1
2,51,1,165,64.0,130,70,3,1,0,0,0,1
3,48,2,169,82.0,150,100,1,1,0,0,1,1
4,47,1,156,56.0,100,60,1,1,0,0,0,0
5,60,1,151,67.0,120,80,2,2,0,0,0,0
6,60,1,157,93.0,130,80,3,1,0,0,1,0
7,61,2,178,95.0,130,90,3,3,0,0,1,1
8,48,1,158,71.0,110,70,1,1,0,0,1,0
9,54,1,164,68.0,110,60,1,1,0,0,0,0

# Preprocessing

In [4]:
X = cardiodf.drop("cardio", axis=1)
y = cardiodf["cardio"]
feature_names = X.columns
print(X.shape, y.shape)

(70000, 11) (70000,)

# Train_test_Split

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# StandardScaler

In [ ]:
# from sklearn.preprocessing import StandardScaler
# X_scaler = StandardScaler().fit(X_train)

# X_train_scaled = X_scaler.transform(X_train)
# X_test_scaled = X_scaler.transform(X_test)

# One Hot Encoding

In [ ]:
# from keras.utils import to_categorical

# # one-hot encoding y feature
# y_train_categorical = to_categorical(y_train)
# y_test_categorical = to_categorical(y_test)

# # one-hot encoding X features
# X_train_categorical = to_categorical(X_train[["gluc", "smoke", "alco", "active", "cholesterol", "gender"]])
# X_test_categorical = to_categorical(X_test[["gluc", "smoke", "alco", "active", "cholesterol", "gender"]])

# Support Vector Machine

In [ ]:
from sklearn.svm import SVC 

model = SVC(kernel='linear')
model.fit(X_train, y_train)

# Finding the R2 Score

In [ ]:
trainSVM = model.score(X_train, y_train)
testSVM = model.score(X_test, y_test)

print(f"Training Score: {trainSVM}")
print(f"Testing Score: {testSVM}")

# GridSearch --> Hyperparameter Tuning

In [ ]:
from sklearn.model_selection import GridSearchCV

param_grid = {'C': [1, 5, 10, 50],
              'gamma': [0.0001, 0.0005, 0.001, 0.005]}
grid = GridSearchCV(model, param_grid, verbose=2)

In [ ]:
grid.fit(X_train, y_train)

In [ ]:
print(grid.best_score_)

In [ ]:
trainCV = grid.score(X_train, y_train)
testCV = grid.score(X_test, y_test)

print(f"Training Score BEFORE GridSearchCV: {trainSVM}")
print(f"Testing Score BEFORE GridSearchCV: {testSVM}")
print("--------------------------------------------------------------")
print(f"Training Score AFTER GridSearchCV: {trainCV}")
print(f"Testing Score AFTER GridSearchCV: {testCV}")

In [ ]:
from sklearn.metrics import classification_report

predictions = grid.predict(X_test)
print(classification_report(y_test, predictions))

In [ ]:
import pickle

filename = 'svm_ss_gridsearch.sav'
pickle.dump(model, open(filename, 'wb'))

In [ ]:
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(X_test, Y_test)
print(result)