In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [5]:
import importlib

In [14]:
hd_df = pd.read_csv('heart.csv')
cardio_df = hd_df['cardio']
hd_df['age'] = (hd_df['age']/365).apply(np.floor).astype(int)
test = hd_df.sample(frac=0.0001)
test

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
12959,18468,57,1,168,117.0,120,80,1,1,0,0,1,1
48542,69313,40,2,168,75.0,120,80,1,1,0,0,1,0
21532,30761,54,2,171,73.0,120,80,1,1,1,0,1,0
17496,25000,54,1,168,52.0,150,80,1,1,0,0,1,1
8893,12683,57,1,148,97.0,140,90,1,1,0,0,1,1
59991,85646,51,1,158,65.0,120,80,1,1,0,0,1,0
51204,73047,57,1,156,64.0,120,80,1,1,0,0,1,1

In [18]:
# risk 12959, 17496, 8893, 51204

test.drop(['cardio'], axis=1)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
12959,18468,57,1,168,117.0,120,80,1,1,0,0,1
48542,69313,40,2,168,75.0,120,80,1,1,0,0,1
21532,30761,54,2,171,73.0,120,80,1,1,1,0,1
17496,25000,54,1,168,52.0,150,80,1,1,0,0,1
8893,12683,57,1,148,97.0,140,90,1,1,0,0,1
59991,85646,51,1,158,65.0,120,80,1,1,0,0,1
51204,73047,57,1,156,64.0,120,80,1,1,0,0,1